<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Carte de profil avec avatar -->
  <ion-card>
    <div style="text-align: center; padding-top: 20px;">
      <ion-avatar style="margin: 0 auto; width: 120px; height: 120px;">
        <img [src]="photoService.photos.length > 0 ? photoService.photos[photoService.photos.length - 1].webviewPath : 'assets/avatar-default.svg'" />
      </ion-avatar>
    </div>
    
    <ion-card-header>
      <ion-card-title style="text-align: center;">{{ username }}</ion-card-title>
    </ion-card-header>
    
    <ion-card-content style="text-align: center;">
      <p>{{ bio }}</p>
    </ion-card-content>
  </ion-card>

  <!-- Liste des séries terminées -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Séries terminées</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Tu ajouteras ici la liste de tes séries -->
      <ion-list>
        <ion-item>Breaking Bad</ion-item>
        <ion-item>Game of Thrones</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Bouton FAB pour modifier le profil -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToEditProfile()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
