<ion-header>
  <ion-toolbar>
    <ion-title>Séries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChange($event)">
    <ion-segment-button value="toWatch">
      <ion-label>À regarder</ion-label>
    </ion-segment-button>
    <ion-segment-button value="upcoming">
      <ion-label>À venir</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    @for (serie of getFilteredSeries(); track serie) {
      <ion-item [routerLink]="['/view-serie', serie.id]">
        <img slot="start" [src]="serie.imageUrl" alt="{{ serie.name }}" style="width: 60px; height: 90px; object-fit: cover;" />
        <ion-label>
          <h2>{{ serie.name }}</h2>
          <p>{{ serie.seasonToSee | seasonEpisode : serie.episodeToSee }}</p>
          <p>{{ serie.episodeToSeeTitle }}</p>
        </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>
